* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    max-height: 1000px;
    margin: 0 auto;
    background-image: url(./rasim/rasim.png);
    background-repeat: no-repeat;
}

.wrappwer {
    display: flex;
    gap: 100px;
}

.left {
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: end;
    border: radius 15px;
}

.right {
    max-width: 200px;
    height: 700px;
    border-left: solid 2px rgb(54, 53, 53);
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

button:hover {
    background-color:rgb(110, 41, 41);
}


.playlogo {
    width: 100px;
    height: 100px;
    cursor:no-drop;
}

.imglogo {
    width: 50px;
    height: 45px;
    transition: all 2s ease-out;
}
.TUGMALAR {
    max-width: 600px;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    margin-right: 650px;
}

.tepa-past {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


button {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color:brown;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}

.ong {
    margin-right: 450px;
    transition: all 1s ease-out;
}

.orta {
    margin-left: 450px;
    margin-right: 450px;
    transition: all 1s ease-out;
}

.chap {
    margin-left: 450px;
    transition: all 1s ease-out;
}

.tepa {
    margin-bottom: 150px;
    transition: all 1s ease-out;
}

.past {
    margin-top: 150px;
    transition: all 1s ease-out;
}

.bosildi {
    background-color:blue;
    transition: all 0.3s ease-out;
    cursor:no-drop;
}

@media screen and (max-width: 400px) {
    .container {
        width: 1000px;
        height: 1500px;
    }
    .wrappwer {
        max-width: 1000px;
        gap: 80px;
    }
    .left {
        width: 700px;
    }

    .right {
        flex-direction: column;
    }

    .right {
        width: 800px;
        height: 200px;
    }

    .TUGMALAR {
        margin-right: 200px;
    }
}